package ${packageName};

import org.kohsuke.MetaInfServices;
import org.sedlakovi.celery.CeleryTaskLoader;

@MetaInfServices
public class ${taskName}Loader implements CeleryTaskLoader {
    @Override
    public ${packageName}.${taskName} loadTask() {
        return new ${packageName}.${taskName}();
    }
}